.on {
  /* 利用css的變數來套用元件的中的動態fillColor屬性值 */
  color: var(--fill-color);
}

.off {
  /* 利用css的變數來套用元件的中的動態emptyColor屬性值 */
  color: var(--empty-color);
}

.starBtn{
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}